/*
Ссылка на гитхаб уголок от http://tholman.com/github-corners/
*/
.github-corner {
    position: absolute; top: 0; border: 0; right: 0;
}
.github-corner:hover .octo-arm { animation: octocat-wave 560ms ease-in-out }
@keyframes octocat-wave {
    0%, 100% { transform: rotate(0) }
    20%, 60% { transform: rotate(-25deg) }
    40%, 80% { transform: rotate(10deg) }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm { animation: none }
    .github-corner .octo-arm { animation: octocat-wave 560ms ease-in-out }
}

/* Попап */
.alert-placeholder {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.alert-placeholder .close {
    margin-left: 10px;
    line-height: 18px;
}

/* Таблица */
.empty-row{
    background-color: #fafbfc;
}

#result {
    width: 1000px;
    margin: 0 auto;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.se-table {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 12px;
}

.se-table thead {
    background-color: #fafbfc;
    font-weight: normal;
}
.se-table thead tr {

}
.se-table thead th {
    font-weight: normal;
    height: 32px;
    padding: 5px 10px;
}

.se-table thead .column-1,
.column-1.line-num{
    border-left: 1px solid #f6f8fa;
}
.line-num {
    color: rgba(27,31,35,.3);
    text-align: right;
    padding: 0 10px;
    vertical-align: top;
}
tr:hover .line-num {
    color: rgba(27,31,35,.6);
}

.line-text {
    vertical-align: top;
}

.line-sync-not-match .line-num {
    background-color: #ffdce0;
}
.line-sync-not-match .line-text {
    background-color: #ffeef0;
}
.line-sync-match .line-num {
    background-color: #cdffd8;
}
.line-sync-match .line-text {
    background-color: #e6ffed;
}

.pane-info__avatar {
    float: left;
    margin-right: 8px;
}
.pane-info__signed,
.pane-info__notsigned {
    display: none;
}

.action-save {
    display: none;
}